fastapi
uvicorn
langchain
langchain-google-genai
langchain-community
langchain-classic
langchain-huggingface
langchain-openai
langchain-anthropic
langgraph
sentence-transformers
pandas
openpyxl
faiss-cpu
python-dotenv
google-auth
PyJWT
python-multipart
